<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Learning Liquid Fire</a>
    </div>
    <a class="navbar-text" {{action "logout"}}>logout</a>
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis dui pharetra, consectetur tellus a, eleifend nisl. Vivamus vitae facilisis ipsum. Nullam convallis nisi sem, ac volutpat neque egestas id. Vivamus dictum tempus tortor, quis fringilla ante blandit et. Donec hendrerit blandit consectetur. Proin varius nulla euismod sapien tincidunt tempor. Vestibulum turpis lorem, dapibus eget lacus et, faucibus ultrices est. Vivamus feugiat sem id turpis pretium, sed congue purus lobortis. Fusce sed interdum turpis. Mauris commodo viverra quam nec scelerisque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum dignissim turpis erat, vel consectetur lorem rhoncus non. Integer malesuada venenatis nunc vitae pharetra. Curabitur sit amet velit varius, iaculis enim et, mattis tortor. Praesent id auctor mauris. Maecenas bibendum feugiat ante sed rhoncus.</p>
<p>Quisque sit amet maximus elit. Duis fermentum dictum libero, eget facilisis mauris. Nunc euismod, lacus in condimentum posuere, urna ligula dignissim neque, eget rutrum purus nisl ut purus. Nulla non semper ligula, sit amet dictum leo. Nulla a turpis blandit, molestie lacus non, congue urna. Nam blandit, mi sit amet tristique mollis, lectus nisi tristique urna, eu sollicitudin elit odio in risus. Praesent aliquam tincidunt tincidunt. Sed metus diam, imperdiet sed leo vitae, mollis lacinia ex. Praesent tempus magna sed placerat dignissim. Maecenas est sapien, feugiat eget sodales id, vehicula non lectus. Suspendisse scelerisque nunc nisl, non placerat odio auctor ac. Sed lacinia consectetur facilisis. Pellentesque ultricies, arcu vitae finibus ornare, mauris nulla vestibulum enim, non pellentesque sapien ipsum in mauris. In sed purus congue, maximus turpis at, scelerisque eros.</p>
<p>Duis sodales sed ex sed aliquet. Fusce nec metus diam. Pellentesque lacinia sem id sapien euismod varius. Donec volutpat sapien ac justo fringilla, sed euismod libero vestibulum. Donec convallis ante at fringilla iaculis. Donec viverra auctor egestas. Nulla porttitor sollicitudin malesuada. Donec maximus tortor sit amet eleifend dictum. Donec arcu augue, congue ac tincidunt id, fermentum vel quam. Nam venenatis, augue nec commodo rhoncus, ipsum tellus tempor risus, mattis sollicitudin magna ex ut urna. Donec lacinia maximus aliquam. Ut ac ligula nec lacus facilisis vehicula non eget sem. Cras in lorem lacus. Etiam facilisis magna vel rhoncus gravida. Etiam efficitur id ante at aliquam.</p>
<p>Vivamus bibendum, mauris a aliquet porta, odio elit dignissim lacus, vel congue est massa ut ex. Nullam ultrices, lorem ac pellentesque lacinia, lacus sem lacinia odio, auctor rutrum sem purus at ex. Nullam consequat ex a enim accumsan fringilla. Quisque a elit efficitur, congue odio sed, blandit tortor. Fusce aliquam tempor ligula id laoreet. Aliquam elit diam, pellentesque vel interdum nec, vulputate quis nulla. Nam sed finibus nulla, non tincidunt elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras est ante, finibus vitae diam vitae, tempor dignissim magna. Nunc erat urna, ultrices et mollis a, interdum ut odio. Integer sit amet laoreet dui. Aliquam non mollis neque, non congue justo. In hac habitasse platea dictumst. Etiam facilisis dignissim efficitur. Suspendisse sed efficitur lectus. In hac habitasse platea dictumst.</p>
<p>Mauris accumsan, orci in scelerisque consectetur, tortor mauris tempor tortor, sit amet tincidunt nisi nisi vel sapien. In velit dui, malesuada vel ornare quis, mollis nec mauris. Aliquam viverra mauris ut leo finibus, sit amet finibus ante sagittis. Integer sit amet erat eget libero hendrerit vulputate. Nunc in justo mauris. Etiam molestie purus vitae magna fermentum, vel placerat augue egestas. Mauris non tristique orci. Morbi imperdiet tempus ligula, eu congue ex molestie in.</p>
</div><!-- /.container-fluid -->
<nav class="navbar navbar-default bottom-nav">
  <div class="container-fluid">
    <p class="navbar-text">Copyright 2015</p>
  </div>
</nav>
